.practitionerActionForm {
    

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            height: 1.5rem;
            cursor: pointer;
        }
    }

    &__content {
        input {
            width: 100%;
        }
    }
}