.practitionerActionForm {
    

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            height: 1.5rem;
            cursor: pointer;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        
        input {
            width: 100%;
        }
    }
}